h1 {
  background-color: grey;
  color: white;
  width: 1000px;
  max-width: 100%;
  height: auto;
  padding: 10px;
}

h2 {
  background-color: lightgrey;
  color: black;
  width: 950px;
  max-width: 100%;
  height: auto;
  padding: 5px 5px;
  margin: 10px;
}
.fonts-container,
.text-styles,
.color-container {
  border: 1px solid;
  width: 1000px;
  max-width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.color-green {
  background-color: #94A14D;
  width: 200px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.color-blue {
  background-color: #A1C5ED;
  width: 200px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.color-pink {
  background-color: #ED7C72;
  width: 200px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

/*
.fonts-container,
.text-styles {
  border: 1px solid;
  width: 1000px;
  max-width: 100%;
  height: auto;
  padding: 5px;
  margin: 20px;
}

*/

/*Source Code Pro*/

.scp-fontname {
  text-decoration: underline;
  font-family: "Source Code Pro";
}

.extra-light-scp {
  font-family: "Source Code Pro";
  font-weight: 200;
}

.extra-light-italic-scp {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: italic;
}

.regular-scp {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: regular;
}

/*Inconsolata*/

.inc-fontname {
  text-decoration: underline;
  font-family: inconsolata;
}

.extra-light-inc {
  font-family: inconsolata;
  font-weight: 200;
}

.light-inc {
  font-family: inconsolata;
  font-weight: 300;
  font-style: normal;
}

.semi-bold-inc {
  font-family: inconsolata;
  font-weight: 600;
  font-style: regular;
}

/*IBM Plex*/

.ibm-fontname {
  text-decoration: underline;
  font-family: "IBM Plex Sans", "sans serif";
}

.light-ibm {
  font-family: "IBM Plex Sans", "sans serif";
  font-weight: 200;
}

.light-italic-ibm {
  font-family: "IBM Plex Sans", "sans serif";
  font-weight: 300;
  font-style: normal;
}

.regular-ibm {
  font-family: "IBM Plex Sans" "sans serif";
  font-weight: 600;
  font-style: regular;
}

.source-code-pro,
.inconsolata,
.ibm-plex {
  width: 800px;
  padding: 10px;
  display: block;
}

#h1-sample {
  width: 500px;
  font-weight: 700;
  font-size: 32px;
  background-color: white;
  color: black;
}

#h2-sample {
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  color: black;
}

#p-sample {
  font-weight: 400;
  font-size: 14px;
}
